header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 3;
    background-color: white;
}

.logo-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.logo-container .logo{
width: 170px;
}

.logo-container .selector-lenguaje{
display: flex;
align-items: center;
gap: 10px;
}

.logo-container .selector-lenguaje .lenguaje{

}

.logo-container .selector-lenguaje .pais{
width: 35px;
}

header nav{
    display: flex;
}

nav .links-container{
display: flex;
flex-direction: row;
list-style-type: none;
gap: 20px;
}

nav .links-container .link-item{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

nav .links-container .link-item .link{
    text-decoration: none;
    color: var(--color-texto);
}

nav .links-container .link-item .btn-link{
    border: 2px solid var(--color-texto);
    padding: 10px;
    border-radius: 5px;
}